.menu {
    background-color: #bdd4e7;
background-image: linear-gradient(315deg, #bdd4e7 0%, #8693ab 74%);
    top : 0;
    left : 0;
    position: fixed;
    height: 80vh;
    width: 3.5rem;
}

.navigationBar {
    background-color: white;
    height: 50px;
    display: flex;
    padding: 38px 0px;
    align-items: center;
    box-shadow: 0 4px 2px -2px #c5c6c7;
}
.sidebar-header {
    padding: 10px 25px 10px 15px;
}

.navigation-list {
    list-style-type:none;
    padding: 0px 18px;
    margin-top: 30px;
    padding-left: 0px;
}

.navigation-list-item {
    background-color: #bdcad9;
background-image: linear-gradient(315deg, #bdcad9 0%, #e1dada 74%);
    padding: 12px 18px 12px 25px;
    margin: 15px 0px;
    border-radius: 10px;
    height: auto;
}
.navigation-list-item:hover {
    background: rgb(0, 0, 0, 0.05);
    box-shadow: 0 0 0.4em rgb(255, 255, 255, 0.1);
    cursor: pointer;
    padding-left: 50px;
}
.navigation-list-item.active {
    background: rgb(0, 0, 0, 0.01);
    box-shadow: 0 0 0.4em rgb(255, 255, 255, 0.1);
}
.navigation-link {
    color: rgb(31, 40, 51, 0.8);
    letter-spacing: 0.5px;
    font-weight: 400;
    text-decoration: none;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
}
.navigation-link i {
    font-size: 20px;
}
.navigation-list-item:hover .navigation-link {
    color: rgb(255, 255, 255, 0.7);
}
.navigation-list-item.active .navigation-link {
    color: rgb(255, 255, 255, 0.8);
    font-weight: 500;
}




