.navbar-expand-sm {
    background-color: #bdd4e7;
    background-image: linear-gradient(315deg, #bdd4e7 0%, #8693ab 74%);
}

.btn-outline-success {
    color: black;
}

.btn{
    outline: none;
    border: none;
    font-size: 30px;
    margin: 8 10px;
    justify-content: center;
    display: flex;
}

.button{
    height: 50px;
    width: auto;
    margin: 0 0;
}

.navbar-menu{
    width: 250px;
}

.dropdown-toggle{
    padding-top: 20px;
    padding-left: 60px;
}

.dropdown-menu {
    padding: auto;
}

.search-container{
    width: 900px;
    justify-content: center;
    align-items: center;
    padding-top: 1%;
    padding-bottom: 1%;
    margin-bottom: -1px;
    margin-top: -1px;
}

.search-bar{
    /* width: 1200px; */
    background: rgba(255, 255, 255, 0.2);
    display: flex;
    border-radius: 40px;
    padding: 12px 12px;
    backdrop-filter: blur(4px) saturate(180%);
}

.search-bar input{
    background: transparent;
    flex: 1;
    border: none;
    outline: none;
    padding: 2px 5px;
}

::placeholder{
    color: black;
    opacity: 50%;
}

.search-bar .btn{
    border-radius: 50%;
    width: 45px;
    height: 40px;
    cursor: pointer;
    font-size: 25px;
    color: black;
    opacity: 50%;
}

.bell{
    width: 10px;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 10px;
    border: none;
    background-color: rgba(var(--bs-light-rgb),var(--bs-bg-opacity))!important;
    font-size: 23px;
}

/* Dropdown Button */
.dropbtn {
    color: white;
    padding: 0px;
    font-size: 20px;
    border: none;
  }

.dropdown {
    position: relative;
    display: inline-block;
 }

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #ddd;}
 
  .dropdown:hover .dropdown-content {display: block;}
  
  .dropdown:hover .dropbtn {background-color: #3e8e41;}



