.btn-outline-success{
    font-size: 18px;
    outline: none;
    border: none;
    border-radius: 16px;
    margin-bottom: 15px;
    margin-top: 15px;
}

.delete-btn {
    width: 32px;
    height: 32px;
    outline: none;
    background: beige;
    border: none;
    border-radius: 50%;
}

.delete-btn:hover{
    background-color: #f71735;
    background-image: linear-gradient(147deg, #f71735 0%, #db3445 74%);
}