.delete .delete-btn {
    width: 32px;
    height: 32px;
    outline: none;
    background-color: #bdcad9;
    background-image: linear-gradient(315deg, #bdcad9 29%, #e1dada 65%);    
    border: none;
    border-radius: 50%;
}

.delete .delete-btn:hover{
    background: #f2e5d9;
}

.mt-5 {
    padding-left: 7px;
    font-size: 43px;
}
